body {
    font-family: 'Rubik', sans-serif;
}

h2 {
    font-weight: 300;
}

.container {
    width: 100%;
}

div.form,
div.form_info,
input {
    text-align: center;
}

div.form input {
    border: none;
    outline: none;
    font-size: 13pt;
    border-bottom: 1px solid #ccc;
}

div.form_info input {
    border: none;
    outline: none;
    font-size: 15pt;
    font-weight: 400;
}