#budget {
    padding: 0 10px;
}

.invisible {
    display: none;
}

.nav_bar {
    margin: 15px 0;
}

#remaining_budget {
    text-align: center;
    margin: 20px;
}

#exp_form,
#daystogo {
    text-align: center;
}

#exp_form button {
    margin: 15px;
}

.column {
    padding: 0 !important;
}

#myBar {
    height: 30px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 30px;
    color: white;
}

.progress::-webkit-progress-value {
    transition: width 0.5s ease;
}

.progress:not(:last-child) {
    margin-bottom: .8rem !important;
}

.heading {
    margin-bottom: 0 !important;
}


/* .progress {
    font-size: 14px;
    text-align: center;
}

.progress:before {
    content: "TEST";
    position: relative;
} */

#a6 {
    max-width: 120px;
    margin-left: 20px;
}


/*Media Queries */

@media(min-width:600px) {
    input.input {
        max-width: 200px;
    }
}

@media(min-width:1024px) {
    .column {
        padding: 0.75rem !important;
    }
    progress:before {
        left: 75%;
    }
}


/* End of Media Queries */