#budget {
    padding: 0 10px;
}

.invisible {
    display: none;
}

.nav_bar {
    margin: 15px 0;
}

#remaining_budget {
    text-align: center;
    margin: 20px;
}

#exp_form,
#daystogo {
    text-align: center;
}

#exp_form button {
    margin: 15px;
}

.column {
    padding: 0 !important;
}

progress {}

progress:before {
    content: attr(value)'%';
    position: absolute;
    left: 15%;
    font-size: 14px;
}


/*Media Queries */

@media(min-width:1024px) {
    .column {
        padding: 0.75rem !important;
    }
    progress:before {
        left: 75%;
    }
}


/* End of Media Queries */